.heading {
  margin-bottom: 2em;
  h1 {
    font-size: 32px;
    font-weight: 700;
    color: $blue;
  }

  p {
    font-size: 15px;
    color: #767676;
  }
}
.about {
  margin: 2em 0;
  h3 {font-size: 22px;}
  p {
    white-space: pre-wrap;
    &.contracted {
      height: 250px;
      overflow: hidden;
    }
  }
  button.more {
    background: transparent;
    border: 0;
    color: #008489;
    padding: 0;
    font-size: 17px;
    font-weight: bold;
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
      outline: none;
    }
  }
}
hr {
  border: 0;
  border-top: 1px solid #dce0e0;
}
.list {
  display: flex;
  flex-wrap: nowrap;
  margin: 2em 0;

  .title {flex: 1 1 25%;}

  .content {
    flex: 1 1 75%;
    display: flex;
    flex-wrap: wrap;
  }
  .list-item {
    flex: 0 0 50%;
    margin-bottom: 16px;
  }
  .list-item > i {width: 35px;}

  @media (max-width: 743px) {
    .title {flex: 1 1 33%;}
    .content {flex: 1 1 67%;}
    .list-item {flex: 0 0 100%;}
  }
}
