.footer[data-v-6f3d1b52] {
  margin-bottom: 3em;
}
.footer .icon[data-v-6f3d1b52] {
  height: 23px;
  display: inline-block;
  margin-bottom: -6px;
}
.footer p[data-v-6f3d1b52] {
  font-size: 15px;
  color: #767676 !important;
  display: -webkit-box;
  display: flex;
}
.footer p img[data-v-6f3d1b52] {
  padding-right: 6px;
}
hr[data-v-6f3d1b52] {
  border-bottom: 1px solid #dbdbdb;
  margin: 3em 0;
}.toolbar[data-v-332fccf4] {
  border-bottom: 1px solid #e4e4e4;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.toolbar a[data-v-332fccf4] {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  text-decoration: none;
}
.icon[data-v-332fccf4] {
  height: 34px;
  padding: 16px 12px 16px 24px;
  display: inline-block;
}
h1[data-v-332fccf4] {
  color: #4fc08d;
  display: inline-block;
  font-size: 28px;
  margin: 0;
}#modal[data-v-2ffcfd3c] {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.85);
}
#modal.show[data-v-2ffcfd3c] {
  display: block;
}
.modal-content[data-v-2ffcfd3c] {
  height: 100%;
  max-width: 105vh;
  padding-top: 12vh;
  margin: 0 auto;
  position: relative;
}
.modal-close[data-v-2ffcfd3c] {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0px 28px 8px;
  font-size: 2em;
  width: auto;
  height: auto;
  background: transparent;
  border: 0;
  outline: none;
  color: #ffffff;
  z-index: 1000;
  font-weight: 100;
  line-height: 1;
}.carousel-control[data-v-4b3c25c2] {
  padding: 1rem;
  color: #ffffff;
  opacity: 0.85;
  cursor: pointer;
}
@media (min-width: 744px) {
.carousel-control[data-v-4b3c25c2] {
    font-size: 3rem;
}
}img[data-v-09ba7428] {
  max-width: 100%;
}
.image-carousel[data-v-09ba7428] {
  height: 100%;
  margin-top: -12vh;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.image-carousel .controls[data-v-09ba7428] {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}.listing-save[data-v-51b41086] {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.listing-save > .heart[data-v-51b41086] {
  padding-right: 4px;
}
.listing-save button .heart[data-v-51b41086] {
  color: #808080;
  padding-right: 4px;
}
.heart-white[data-v-51b41086] {
  color: #fff;
  -webkit-filter: drop-shadow(0 0 1px #777);
          filter: drop-shadow(0 0 1px #777);
}
.heart-red[data-v-51b41086] {
  color: #ff5a5f;
  -webkit-filter: drop-shadow(0 0 1px #fff);
          filter: drop-shadow(0 0 1px #fff);
}.header[data-v-995b6a9a] {
  height: 320px;
}
.header .header-img[data-v-995b6a9a] {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-color: #f5f5f5;
  height: 100%;
  cursor: pointer;
  position: relative;
}
button[data-v-995b6a9a] {
  position: absolute;
  bottom: 20px;
  left: 20px;
}hr {
  border: 0;
  border-top: 1px solid #dce0e0;
}
.list {
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
  margin: 2em 0;
}
.list .title {
  -webkit-box-flex: 1;
          flex: 1 1 25%;
}
.list .content {
  -webkit-box-flex: 1;
          flex: 1 1 75%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.list .list-item {
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  margin-bottom: 16px;
}
.list .list-item > i {
  width: 35px;
}
@media (max-width: 743px) {
.list .title {
    -webkit-box-flex: 1;
            flex: 1 1 33%;
}
.list .content {
    -webkit-box-flex: 1;
            flex: 1 1 67%;
}
.list .list-item {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
}
}p[data-v-8fc3ce28] {
  white-space: pre-wrap;
}
p.contracted[data-v-8fc3ce28] {
  height: 250px;
  overflow: hidden;
}
button[data-v-8fc3ce28] {
  background: transparent;
  border: 0;
  color: #008489;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
}
button[data-v-8fc3ce28]:hover, button[data-v-8fc3ce28]:focus, button[data-v-8fc3ce28]:active {
  text-decoration: underline;
  outline: none;
}.heading[data-v-2dfe2a1c] {
  margin-bottom: 2em;
}
.heading h1[data-v-2dfe2a1c] {
  font-size: 32px;
  font-weight: 700;
  color: #3490dc;
}
.heading p[data-v-2dfe2a1c] {
  font-size: 15px;
  color: #767676;
}
.about[data-v-2dfe2a1c] {
  margin: 2em 0;
}
.about h3[data-v-2dfe2a1c] {
  font-size: 22px;
}.listing-summary[data-v-ea4e7aa6] {
  position: relative;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
}
.listing-summary a[data-v-ea4e7aa6] {
  text-decoration: none;
}
.listing-summary .wrapper[data-v-ea4e7aa6] {
  max-width: 350px;
  display: block;
}
.listing-summary .thumbnail[data-v-ea4e7aa6] {
  width: 350px;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.listing-summary .info[data-v-ea4e7aa6] {
  color: #484848;
  word-wrap: break-word;
  letter-spacing: 0.2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.listing-summary .info.title[data-v-ea4e7aa6] {
  padding-top: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.listing-summary .info.address[data-v-ea4e7aa6] {
  font-size: 14px;
  line-height: 18px;
}
@media (max-width: 400px) {
.listing-summary .listing-save[data-v-ea4e7aa6] {
    left: 15px;
    right: auto;
}
}.listing-summary-group[data-v-6eda2682] {
  padding-bottom: 20px;
}
.listing-summaries[data-v-6eda2682] {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.listing-summaries > .listing-summary[data-v-6eda2682] {
  margin-right: 15px;
}
.listing-summaries > .listing-summary[data-v-6eda2682]:last-child {
  margin-right: 0;
}
.listing-carousel[data-v-6eda2682] {
  position: relative;
}
.listing-carousel .controls[data-v-6eda2682] {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: calc(50% - 45px);
  left: -45px;
  width: calc(100% + 90px);
}
.listing-carousel .controls .carousel-control[data-v-6eda2682] {
  color: #c5c5c5;
  font-size: 1.5rem;
  cursor: pointer;
}
.listing-summaries-wrapper[data-v-6eda2682] {
  overflow: hidden;
}.listing-summaries[data-v-611a88db] {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: left;
          justify-content: left;
  overflow: hidden;
}
.listing-summaries .listing-summary[data-v-611a88db] {
  padding-bottom: 30px;
  margin-right: 15px;
}