.heading {
  margin-bottom: 2em;
  h1 {
    font-size: 32px;
    font-weight: 700;
    color: $blue;
  }

  p {
    font-size: 15px;
    color: #767676;
  }
}
.about {
  margin: 2em 0;
  h3 {font-size: 22px;}
}
